{% extends 'base.html' %} {% block title %}로그인{% endblock %} {% block content
%}
<div class="register-container">
  <h1>로그인</h1>
  {% if error %}
  <p style="color: red">{{ error }}</p>
  {% endif %}
  <form action="/login" method="post">
    <label for="email">이메일:</label>
    <input type="email" id="email" name="email" required /><br />

    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required /><br />

    <input type="submit" value="로그인" />
  </form>

  <p>아직 회원이 아니신가요? <a href="/register">회원가입</a></p>
</div>
{% endblock %}
